@font-face {
    font-family: headerFont;
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}
@font-face {
    font-family: Aclonica;
    src: url("../fonts/Aclonica.ttf");
}
@font-face {
    font-family: headerFont;
    src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
	font-weight: bold;
}
@font-face {
    font-family: bodyFont;
    src: url("../fonts/Lora/Lora-Regular.ttf");
}
@font-face {
    font-family: bodyFont;
    src: url("../fonts/Lora/Lora-Bold.ttf");
	font-weight: bold;
}
@font-face {
    font-family: bodyFont;
    src: url("../fonts/Lora/Lora-Italic.ttf");
	font-style: italic;
}
@font-face {
    font-family: bodyFont;
    src: url("../fonts/Lora/5-BoldItalic.ttf");
	font-weight: bold;
	font-style: italic;
}
body {
  padding-top: 50px;
  background-color: #fff;
}
#myCanvas{
	min-height:100px;
	min-width:100px;
	
	max-height:700px;
	max-width:700px;

	height: 50%;
    width: 50%;
    object-fit: contain;
	border-color: inherit;
	border-style: solid;
	border-width: 0px;
}

canvas {
	display: block;
	margin: 0 auto;
}

.navbreaker a{
	margin-left:7px
}

.underimage{
  border-color: #727272;
  background-color:#FFF;
  color:#212121;
  border-radius: 4px;
  font-family: bodyFont;
  font-size:20px;
  padding: 5px 15px;
}

hr{color: inherit;border-color:inherit;background-color:inherit;filter:brightness(180%);}

.well,p{
    font-family: bodyFont;
	font-size:18px;
	font-style: normal;
	font-weight: normal;
}
.well p{
text-indent:20px;
padding-left: 15px;padding-right:  15px;
}

blockquote{
font-family:inherit;
font-size: 0.9em;
font-style: italic;
background-color:rgba(19,19,4,0.05);
}
blockquote footer{
	color: #FFFFFF; 
	color:inherit;
}

h1,h2,h3,h4,h5,h6,.navbar{font-family: headerFont;font-variant: small-caps;}
h1{font-size:2.6em;}
h2{font-size:1.8em;}
h3{font-size:1.7em;}
h4{font-size:1.3em;font-variant: small-caps;}
h5{font-size:1em;}
h6{font-size:0.9em;}

.pad{padding-top:10px;padding-bottom:10px;}

.break{
height: calc(100vh - 550px);;
}

.dropdown.divider {
	border-top-color: #B6B6B6;
	border-top-width: 1px;
	border-top-style: solid;
}


.ctog .c:before {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.ctog .c.collapsed:before {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
.disabledLink, .disabledSubmenuLink{
/*
	border-bottom: solid 0px rgba(36,36,21,0.1);
	border-top: solid 0px rgba(36,36,21,0.1);
	border-left: solid 1px rgba(36,36,21,0.1);
	border-right: solid 1px rgba(36,36,21,0.1);
	color:#ffffbf;
*/

	color: #bbb;
	pointer-events: none; 
}
.disabledLink::after{
	content: "";
	float: left;
	width: 20px;
	height: 20px;
	margin: 0 5px 0 0;
	background:url("../images/gui/locked.png");
	background-size: 20px 20px;
    background-repeat: no-repeat;
}

.enabledLink {
	color: #e7f8f8;
}

.enabledLink::after{
	content: "";
	float: left;
	width: 20px;
	height: 20px;
	margin: 0 5px 0 0;
	background:url("../images/gui/unlocked.png");
	background-size: 20px 20px;
    background-repeat: no-repeat;
}
.mainMenu{
	position: relative;
	top: 30px;
	left: 50%;
	margin:  0px 0px 0px -25%;
	width: 50%;
}
#mainCanvas,#Confutest{width:95%;}


